* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #131925;
  --color-secondary: #ce83bf;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-purple1: #967bb6:
  --br-sm-2: 14px;
}

body {
  background-color: var(--color-primary);
  font-family: "Caprasimo", cursive;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@keyframes appear {
  0% {
    transform: translateY(-75%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white);
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-white);
  pointer-events: none;
}
.controls .control.clicked {
  transform: scale(1.3);
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 23% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 23% 0, 100% 100%, 0% 100%);
}
.header-content .left-header .image {
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 150%;
  height: 200%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
  padding-left: 1rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

/*Header-content
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    .left-header{
        display: flex;
        align-items: relative;
        .h-shape{
             transition: all .4s ease-in-out;
             width: 65%;
             height: 100%;
             background-color: var(--color-secondary);
             position: relative;
             left: 0;
             top: 0;
             z-index: -1;
             clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }
    }
}

/*Indeprended components*/
.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 3.5rem;
}

.heading-2-about {
  position: absolute;
  top: 15%;
  left: 15%;
}

.about-content {
  position: absolute;
  top: 22%;
  left: 8%;
  right: 58%;
}

.about-description {
  font-family: "Caprasimo", cursive;
  background-color: var(--color-grey-4);
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-family: "Lora", serif;
  font-size: 1.2rem;
}
.about-description:hover {
  transform: scale(1.15);
  color: var(--color-secondary);
}
.about-description p {
  color: var(--color-white);
  font-size: 1.2rem;
  text-align: left;
}

.heading-2-interests {
  position: absolute;
  top: 52%;
  left: 15%;
}

.other-interests {
  position: absolute;
  top: 59%;
  left: 8%;
  right: 58%;
}

.interests-description {
  font-family: "Caprasimo", cursive;
  background-color: var(--color-grey-4);
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-family: "Lora", serif;
  font-size: 1.2rem;
}
.interests-description:hover {
  transform: scale(1.15);
}
.interests-description p {
  color: var(--color-white);
  font-size: 1.2rem;
  text-align: left;
}

.education-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  position: relative;
  margin-top: 2rem 0;
  transform: translateX(45%);
  max-width: 44%;
}

.timeline:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ce83bf;
  margin-left: auto;
  margin-right: auto;
}

.timeline-item {
  position: relative;
  margin-bottom: 2rem;
  text-align: right;
}

.timeline-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}

.timeline-title i {
  margin-right: 0.5rem;
}

.timeline-description {
  margin-top: 0.5rem;
  text-align: left;
  font-family: "Lora", serif;
  font-size: 1.2rem;
}

.timeline-date {
  margin-top: 0.5rem;
  color: var(--color-primary);
  text-align: left;
}

.timeline-item {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #ce83bf;
  color: #ffffff;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s;
}

.timeline-item:hover {
  background-color: #967bb6;
  transform: scale(1.1);
}

.main-title-skills {
  text-align: center;
}
.main-title-skills h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
}
.main-title-skills h2 span {
  color: var(--color-secondary);
}
.main-title-skills h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 3.5rem;
}

.skills-section {
  display: flex;
  justify-content: flex;
}

.skill-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Adjust the width as desired */
  height: 200px;
  background-color: #ce83bf;
  color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  transition: transform 0.3s, background-color 0.3s;
  position: relative;
}

.skill-box:hover {
  background-color: #967bb6;
  transform: scale(1.1);
}

.skill-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.skill-icon {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.polygon-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242c3c;
  -webkit-clip-path: polygon(0% 18%, 100% 18%, 100% 52%, 0% 52%);
          clip-path: polygon(0% 18%, 100% 18%, 100% 52%, 0% 52%);
}

.heading-1-skill {
  position: absolute;
  top: 55%;
  left: 7%;
}

.skill-content-1 {
  position: absolute;
  top: 62%;
  left: 7%;
}

.skill-description-1 {
  font-family: "Caprasimo", cursive;
  background-color: var(--color-grey-4);
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-family: "Lora", serif;
  width: 225px;
  font-size: 1.2rem;
}
.skill-description-1:hover {
  transform: scale(1.15);
}
.skill-description-1 p {
  color: var(--color-white);
  font-size: 1.2rem;
  text-align: left;
}

.heading-2-skill {
  position: absolute;
  top: 55%;
  left: 30%;
}

.skill-content-2 {
  position: absolute;
  top: 62%;
  left: 30%;
}

.skill-description-2 {
  font-family: "Caprasimo", cursive;
  background-color: var(--color-grey-4);
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-family: "Lora", serif;
  width: 225px;
  font-size: 1.2rem;
}
.skill-description-2:hover {
  transform: scale(1.15);
}
.skill-description-2 p {
  color: var(--color-white);
  font-size: 1.2rem;
  text-align: left;
}

.heading-3-skill {
  position: absolute;
  top: 55%;
  left: 53%;
}

.skill-content-3 {
  position: absolute;
  top: 62%;
  left: 53%;
}

.skill-description-3 {
  font-family: "Caprasimo", cursive;
  background-color: var(--color-grey-4);
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-family: "Lora", serif;
  width: 225px;
  font-size: 1.2rem;
}
.skill-description-3:hover {
  transform: scale(1.15);
}
.skill-description-3 p {
  color: var(--color-white);
  font-size: 1.2rem;
  text-align: left;
}

.heading-4-skill {
  position: absolute;
  top: 55%;
  left: 76%;
}

.skill-content-4 {
  position: absolute;
  top: 62%;
  left: 76%;
}

.skill-description-4 {
  font-family: "Caprasimo", cursive;
  background-color: var(--color-grey-4);
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-family: "Lora", serif;
  width: 225px;
  font-size: 1.2rem;
}
.skill-description-4:hover {
  transform: scale(1.15);
}
.skill-description-4 p {
  color: var(--color-white);
  font-size: 1.2rem;
  text-align: left;
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}/*# sourceMappingURL=styles.css.map */